<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"></meta>
        <meta content="addbackend" name="description"></meta>
         <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <title>Sanskari Bot</title>
    </head>
    <script type='text/javascript' src='/static/js/custom.js'></script>
    <body>
	<div class='container' style="width:80%;text-align:center;">
		<div style="position:fixed;width:80%;height:80%;overflow-y:auto;" id='divChat'>
		</div>
		<div style="position: fixed;padding:10;bottom: 0;left: 0;height: auto;line-height: auto;	width: 100%;">
			<input id='divData' type='text' placeholder='Enter your worries' onKeyPress="if(checkSubmit(event)) botme();"/>
			<input value='go' class='button' type='button' onclick='botme();'/>
		</div>
	</div>
    </body>
</html>
