<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"></meta>
        <meta content="addbackend" name="description"></meta>
         <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <title>Sanskari Bot</title>
    </head>
    <script>
    	function ajaxCall(url, div, text) {
		var xmlhttp;
		if (window.XMLHttpRequest) xmlhttp=new XMLHttpRequest();
		else xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		xmlhttp.onreadystatechange=function() {
			if (xmlhttp.readyState==4 && xmlhttp.status==200) {
				document.getElementById(div).innerHTML+=("lol3:<br/>"+xmlhttp.responseText+"</br>");
			}
		}
		xmlhttp.open("POST",url,true);
		xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xmlhttp.send("data="+text);
	}
    	function botme() {
		var text=document.getElementById('divData').value;
		document.getElementById('divData').value="";
		document.getElementById('divChat').innerHTML+=("You:<br/>"+text+"<br/>");
		ajaxCall("request","divChat",text);
	}
    </script>
    <body>
	<div class='container'>
		<div id='divChat' style='overflow-y:auto'>
		</div>
		<input id='divData' type='text' placeholder='Enter your worries'/>
		<input value='go' class='button' type='button' onclick='botme();'/>
	</div>
    </body>
</html>
